body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #070707;
}
.container {
  max-width: 450px;
  margin: 40px auto 85px auto;
  background: #171616;
  border-radius: 10px;
  box-shadow: 0 1px 8px #1b6bc7e2;
  padding: 24px 18px 20px 18px;
}
h1 {
  color: #3464d1;
  text-align: center;
  margin-bottom: 25px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 9px 0 0 0;
  background: #0d0d0d;
}
th, td {
  padding: 11px 8px;
  text-align: center;
}
th {
  background: #171717;
  color: #1656ec;
  font-weight: 600;
  border-bottom: 2.5px solid #3464d1;
  box-shadow: 0 1px 8px #1b6bc7e2;
}
tr:nth-child(even) {
  background: #f1f4fe;
}
.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #87898988;
  border-top: 1px solid #dde6f6;
  display: flex;
  justify-content: space-around;
  box-shadow:0 0 8px 0 #2979ff22;
  z-index:99;
}
.bottom-nav a {
  text-align: center;
  flex: 1;
  padding: 13px 0 9px 0;
  color: #3464d1;
  font-weight: 500;
  font-size: 1.05em;
  text-decoration: none;
  border-radius: 10px 10px 0 0;
}
.bottom-nav a.active, .bottom-nav a:hover {
  color: #145de5;
  background: #e9eaed;
}