body {
    background: #090909;
    color: white;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 360px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(36,37,38,.09);
    margin: 40px auto;
    padding: 28px 24px;
}

h2 {
    text-align: left;
    color: #e9ebf0;
    margin-top: 40px;
}

.back-btn {
    position: fixed;
    top: 11px;
    left: 11px;
    font-size: 1.10em;
    background: none;
}
.back-btn a {
    padding: 3px 12px;
    background: #e8eded56;
    color: #eff1f5;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
.back-btn a:hover {
    background: #5a5c5c6b;
    color: #fff;
}
label {
    display: block;
    font-size: 1.05em;
    margin-top: 16px;
    color: #fbf3f3;
    margin-bottom: 4px;
}

input[type="text"], input[type="email"], input[type="date"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #b6bdd1;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box;
    background: #f7f7ff;
    transition: border-color 0.2s;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #2979ff;
}

textarea {
    resize: vertical;
    min-height: 56px;
}

input[type="submit"] {
    margin-top: 14px;
    background: #2979ff;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 6px;
    padding: 12px 0;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px 7px rgba(36,37,38,.09);
    transition: background 0.2s;
}

input[type="submit"]:hover {
    background: #1564c0;
}
